.top-section{
  min-height: 100vh;
  background: url("../../media/images/eda-ligger-curves.png") no-repeat;
  background-size: 100% auto;
  background-clip: border-box;
  @media only screen and (max-width: 600px) {
    background-size: auto 100%;
    background-clip: border-box;
    background-position: center;
  }
}